RK_BUILDROOT_BASE_CFG="rv1126b_ipc"
# RK_YOCTO is not set
# RK_DEBIAN is not set
RK_ROOTFS_PREBUILT_TOOLS=y
RK_UBOOT_SPL=y
RK_KERNEL_DTS_NAME="rv1126b-evb2-v10"
RK_ROOTFS_INSTALL_MODULES=y
RK_USB_RNDIS=y
